 body {
     overflow-y: auto;
 }

 p {
     font-size: 0.9em;
     justify-content: flex-start;
     margin-bottom: 0.4rem;
 }

 label {
     font-size: small;
 }

 .container {
     padding-left: 0;
     padding-right: 0;
     width: 65%;
 }

 .breadcrumb-item a {
     font-size: 0.9em;
     font-style: normal;
     color: rgb(75, 71, 71);
 }

 #linkImprimir,
 #emailCotiz,
 #revCotiz {
     color: rgb(54, 52, 52);
 }

 #linkImprimir:hover,
 #emailCotiz:hover,
 #revCotiz:hover {
     background-color: rgba(150, 144, 144, 0.634);
 }

 #nombreCliente {
     text-align: left;
 }

 #piePag p {
     margin-bottom: 0;
     justify-content: auto
 }

 /* .card-body{
    text-align: center;
 } */

 .waiting-cursor {
     cursor: wait;
 }

 #dtDetalleFact,
 #dtDetalleHitos,
 #dtDetalleContrato,
 #dtDetallePersonal {
     font-size: 0.9em !important;
 }

 #colBodyInfoGral p,
 #colBodyInfoGral2 p {
     font-weight: 700;
 }

 #dtDetalleFact td:nth-child(3) {
     text-align: right;

 }

 #dtDetalleFact td:nth-child(2) {
     text-align: right;

 }

 #dtDetalleFact td:nth-child(8) {
     text-align: right;

 }

 #dtDetalleFact td:nth-child(10) {
     text-align: right;

 }

 #dtDetalleHitos td:nth-child(3),
 #dtDetalleContrato td:nth-child(3) {
     text-align: right;

 }

 #dtDetalleHitos td:nth-child(4),
 #dtDetalleContrato td:nth-child(4) {
     text-align: right;

 }


 @media print {
     @page {
         margin-top: 1cm;
         margin-bottom: 1cm;
     }

     body {
         margin: 0cm !important;
         padding: 0px !important;
     }

     #titulo {
         font-weight: bold;
         font-size: 1.8em !important;
         color: steelblue
     }

     img {
         height: 1.6cm;
     }

     #colBodyInfoGral .row {
         height: 1.8vh !important;
         padding: 0px !important;
         margin: 0px !important;
         font-size: 1em !important;
     }

     #colBodyInfoGralDatos .row {
         height: 1.8vh !important;
         padding: 0px !important;
         margin: 0px !important;
         font-size: 1em;
     }

     #colBodyInfoGral2 p {
         font-size: 1.1em;
         color: black !important;
         font-weight: 700;
     }

     .card-title {
         font-size: large;
     }

     /* #bodyInfoGral p {
         justify-content: flex-start;
     } */

     /* 
     #cc{
        background-color: green;
     }
     #clienteResumen{
        background-color: violet;
     } */

     #rowCardUtilidad {
         height: 4cm !important;
         width: 8cm !important;
     }

     p {
         font-size: 1.1em;
     }

     #datosContacto {
         margin-top: 0vh;
     }

     /* tr{
        padding: 0 !important;
        height: 0.2cm !important;
        color:green !important;
     } */
     /* .table-striped tbody tr:nth-of-type(odd) td {
        /* background-color: rgba(0,0,0,.05) !important; 
        background-color:rgba(173, 166, 166, 0.877) !important;
       
    } */
     #dtDetalleFact,
     #dtDetalleContrato,
     #dtDetalleHitos,
     #dtDetallePersonal {
         font-size: 1.1em !important;
     }

     #dtDetalleHitos {
         font-size: 1.1em !important;
     }

     #tbodyPersonal td {
         padding: 0.2cm;
         font-size: 1.1em !important;
     }

     #tbodyFact td,
     #tbodyHitos td {
         padding: 0.12cm;
         font-size: 1em !important;
     }

     #dtDetalleFact td:nth-child(3) {
         text-align: right;

     }

     #dtDetalleFact td:nth-child(2) {
         text-align: right;

     }

     #dtDetalleFact td:nth-child(8) {
         text-align: right;

     }

     #dtDetalleFact td:nth-child(10) {
         text-align: right;

     }


     #dtDetalleHitos td:nth-child(3),
     #dtDetalleContrato td:nth-child(3) {
         text-align: right;

     }

     #dtDetalleHitos td:nth-child(4),
     #dtDetalleContrato td:nth-child(3) {
         text-align: right;

     }

 }